{% extends 'todo/base.html' %}
{% load static %}

{% block inscription %}Главная страница{% endblock %}
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
{% block content %}
<div class="features">
    <h1>Блокнот твоих дел</h1>
    <p>Я твой онлайн блокнот.</p>
    <p>Запиши свои дела в меня, чтобы не забыть.</p>
</div>
<div>
    <a href="{% url 'register' %}">Регистрация</a>
    <a href="{% url 'login' %}">Войти</a>
</div>
<body>
  <img src="{% static 'todo/img/2.png' %}">
</body>
{% endblock %}
